*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, #a600f2 0%, #001ca8 100%);
}

section{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

input{
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
    border-radius: 5px;
}

ul{
    text-align: center;
    list-style: none;
    margin-top: 20px;
}

a{
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    transition: 0.2s;
    text-decoration: none;
}

a:hover{
    color: #f21bd9;
    transition: 0.2s;
}

li{
    margin: 5px 0;
}

.filtro{
    display: none;
}